<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CARDConnectionString" connectionString="Data Source=192.168.95.106;Initial Catalog=CARD_TEST;User ID=Josh;Password=1qaz2wsx!"
   providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="XmlPath" value="C:\CyberCArd\xml\file.xml"/>
    <add key="LogPath" value="C:\CyberCArd\Batch\Log\"/>
  </appSettings>
</configuration>