<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="CARDConnectionString" connectionString="Data Source=192.168.95.106;Initial Catalog=CARD_RD;User ID=CyberCArd;Password=Passw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="XmlPath" value="C:\CyberCArd\xml\file.xml"/>
    <add key="LogPath" value="C:\CyberCArd\Batch\Log\"/>
  </appSettings>
</configuration>